img{
    width: 75px;
    height: 100px;
}

.Spell{
    --ion-background-color: green;  
}

.Trap{
    --ion-background-color: fuchsia;
}

.Fusion{
    --ion-background-color: purple;
}

.Effect{
    --ion-background-color: brown;
}

.Tuner{
    --ion-background-color: brown;
}

.Normal{
    --ion-background-color: yellow;
}

.XYZ{
    --ion-background-color: black;
    color: white;
}

.Synchro{
    --ion-background-color: silver;
}

.Link{
    --ion-background-color: blue;
}

.Ritual{
    --ion-background-color: skyblue;
}

ion-list{
    background-color: black;
}

